# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Caches
.cache
.npm
.eslintcache
.stylelintcache
.parcel-cache
.fusebox/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Diagnostic reports
report.[0-9]_[0-9]_[0-9]_[0-9]_.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Build outputs
.next/
out/
.build/
dist/
.lib-cov/
.vuepress/dist
.docusaurus/
.serverless/

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Local environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env*.local

# Debug
.DS_Store
*.pem

# IntelliJ based IDEs
.idea

# Vercel
.vercel

# Yarn Integrity file
.yarn-integrity

# Temporary files
.tern-port
.vscode-test

# Additional files
.lock-wscript
.dynamodb/
