{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^react", "fastify", "^@?\\w", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderSortByLength": true
}
